
@keyframes fadeIn{
    from{
       opacity: 0;
       
    }
    to{
        opacity: 1;
        /* transform:translateY(20px) */
    }
}
 body{
    animation:  fadeIn 1.5s ease-out;
    min-height: 40px;
    background-color: whitesmoke; 
    background-size:cover ;
    background-repeat: no-repeat;

  }
.home
{
/* background-image:linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1),rgba(0,0,0,0.1)),url('./foodpanda.png') ; */
background-size: cover;
height: 500px;
} 
header
{
    background:linear-gradient(rgba(0,0,0,0.9),rgba(0,0,0,0.6),rgba(0,0,0,0.4)),url("food images.jpg");  
    height: 900px;
}
.img
{

  width: 102px;
  height: 120px;
}
footer
{
    background: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1),rgba(0,0,0,0.1));
}
.nav-link:hover{
    background-color: blue;
    color: white;
    transition: 0.6s ease-in-out;
}
.pink
{
color: #da23bb;
font-weight: bold;
}
.login
{
    background-color:#da23bb;
    color: white;
    border: none;
    width: 650px;
    height: 40px;
}
.signup
{
    background-color:#da23bb;
    color: white;
    border: none;
    width: 650px;
    height: 40px;
}
.container
{
    width: 40%;
    margin-top: 10%;
    border-radius:10px;
}